<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChA-WgUWtQ5mZ5vIAkFBmHi6Gsj6SHp1o</string>
	<key>GCM_SENDER_ID</key>
	<string>433700104858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlexKolch.Firebase-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>fir-example-14ee8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-14ee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433700104858:ios:c8beddc80120fdc19f0d23</string>
</dict>
</plist>